/* la nav bar */
header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    transition: top 0.3s ease;

}

header p {
    position: absolute;
    top: 35px;
    right: 50%;
    z-index: 999;
    color: var(--sec-color);
    font-size: 120%;
}
header nav {
    justify-content: space-between;
}
header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    padding: 3px;
    margin: var(--espacement-en-bas-nav) var(--espacement-nav);
    margin-bottom: 0;

    width: var(--longeur-boutton-nav);
    background-color: var(--sec-color);
    transition-duration: 0.4s;

    box-shadow: 2px 2px 1px 1px var(--text-color);    
}

header nav li:hover{
    background-color: var(--text-color);
    box-shadow: 20px 2px 1px 1px var(--sec-color);
}

header nav li:hover a {
    color: var(--sec-color);
}

header{
    /*background-color: var(--header-color);*/
    text-align: center;
    overflow: hidden;
    z-index: 1;
    /*background: linear-gradient(to top, var(--header-color1), 96%, var(--header-color2));*/
    
}

header::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--header-color1);
    background-image: url('images/header_video-1.gif');
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: -1; /* derrière le contenu du header */
}

#main-header.fade-bg::before {
    opacity: 0;
  }
#main-header.fade-bg-in::before {
    opacity: 1;
  }
#main-header.new-bg{
    background-color: var(--header-color2);
}
