/* ---
        PROFIL
                -- */

article > span > div {
    width: 30%;
    height: 35%;
    margin: 10px;
}

article > span > p{
    width: 100%;
}

section > article > span {
    display: flex;
    flex-wrap: wrap;
}
